a, input, button {
	-webkit-transition: all ease .2s;
	-moz-transition: all ease .2s;
	-o-transition: all ease .2s;
	transition: all ease .2s;
}
body {
	font-family: 'Roboto';
	color: #666666;
	font-size: 15px;
	background: #fdfdfd;
	font-weight: 400;
	line-height: 25px;
}
/*Typography*/

a {
	color: #3C4551 ;
}
a:hover {
	color: #520076;
	text-decoration: none;
}

hr {
	border-color: #e5e5e5;
	margin: 10px 0 10px 0;
}

/**/
span.sep {
	border-top: 3px solid #ff9900;
	width: 40px;
	display: block;
	margin: 18px auto 70px;
}
span.sep-left{ margin-left: 0  }

p.empty-value{
	padding: 30px 0;
	text-align:justify;
	text-indent: 50px;
	width: 80%;
	margin: auto;
}
p.small-paragraph {
	font-size: 18px;
	color: #c4cfd0;
	text-transform: none;
	font-weight: bold;
}
p.smaller {
	margin-bottom: 40px; 
	font-size: 15px;
	color: #4d4d4d;
	font-family: 'Roboto';
	text-transform: none;
}
.nopadding {   padding: 0 !important; }
.nomargin { margin: 0 !important }

.navbar-header{ margin: 15px 0 }
.relative_btn {
	position: absolute;
	left: 50%;
	margin-left: -90px;
	bottom: -35px;
}
.headings p.small-paragraph {
	margin: 15px 0 35px 0;
}
.row.title__block {
	margin: 20px 0 50px 0 !important;
	margin:0;
}


/*News-detail*/

.media-heading {
	margin: 0 0 5px;
    font-size: 14px;
}
.tgl {
	font-size: 12px;
}
.news-detail{
	text-align: justify;
	padding-top: 18px;
	padding-bottom: 220px;
	color: #262626;

}
#cent {
	padding-right: 0px;
}
.news-detail img {
	padding: 0 25px 25px 0;
	/*width: 400px;*/
}
.news-detail .media-heading{
	text-transform: uppercase;
	font-size: 20px;
	color: #262626;
}
.news-detail hr {
	 border-color: #aaaaaa;
}
.news-detail i {
	font-size: 13px;
}
.news-detail p:first-letter {
    text-transform: uppercase;
}
.news-detail p {
    line-height: 30px;
    font-size: 13px;
}
#justify {
    text-align: justify;
    text-justify: inter-word;
} 


.sub_link {
    color: #0099CC;
    font-size: 13px;
}
/*	widget*/
.widget-main{ 
	display: block;
	margin-top: 20px;
	padding-bottom: 10px;
	text-transform: uppercase;
	text-align: left;
}

.widget-title{
	padding: 15px;
	background: #554e9b;
	color:white;
	font-weight: bolder;
	font-size: 15px;
	margin-bottom: 10px;
}
.widget-menu dt{
	border: 1px solid #E0E0E0;
	border-bottom: none;
	font-size: 13px;
	text-transform: uppercase;
	font-family: 'Roboto';
	padding: 10px;
	font-weight: 300;
}
.widget-menu dt i.fa{
	margin: 0 8px;
}
.widget-menu dt:last-of-type{

	border-bottom: 1px solid #E0E0E0;
}
/*NAVBAR*/
.offcanvas-sm 	{
	box-shadow: 10px 4px 10px rgba(150, 150, 150, 0.3);
	width: 200px !important;
	padding: 25px;
	text-transform: uppercase;
	border-left: 4px solid transparent;
}
.navmenu-default, .navbar-default .navbar-offcanvas{
	background-color: white;
	width: 100%;
	border: none;
}
.form-control, .form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.form-control:focus {
	border-color: #ffdd3c;
}

/*Buttons*/
.btn {
	font-size: 15px;
	padding: 10px 40px;
}
.btn-info {
	color: #fff;
	border: #f90;
	background: #ffae00;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
	border-color: #f90;
	background-color: #d90;
}
.btn-default {
	color: #fff;
	border-color: #ccc;
	background: #ccc;
}
.btn-default:hover, .btn-default:focus, .btn-default:active {
	border-color: #999;
	background-color: #999;
}


footer .btn-md, .recent-posts .btn-md {
	margin-top: 0px;
}

/*about-us*/
.about-us .title__block {
	margin-top: 10px !important;
}
.about-img{
	padding: 0 60px 15px;
	margin-top: -20px;
}

/*fasilitas*/
.fasilitas p.smaller {	margin-bottom: 160px; }
.fasilitas .title { 
	font-size: 20px; 
	color: #333;
	margin: 35px 0;
 }
 .list-fasilitas{margin-bottom: 80px; height: 400px; }

/*portofolio*/

#portfolio {
	padding: 30px 0px 40px 0px;
}
#portfolio ul.controls {
	padding: 35px 0 20px 2px;
	overflow: hidden;
	margin: 20px 0;
}
#portfolio ul.controls li {
	display: inline-block;
	color: #aaa;
	font-weight: 400;
	font-size: 15px;
	padding: 5px 25px;
	cursor: pointer;
	border: 3px solid transparent;
}
#portfolio ul.controls li:hover span, #portfolio ul.controls li.active span{
	border-bottom: 3px solid #F1C40F;
	padding-bottom: 15px;
	color: #333;
}
ul#Grid {
	margin: 70px 0 30px 0;
	padding: 0;
	position: relative;
}
ul#Grid li {
	padding-bottom: 20px;
	margin: 0;
	display: none;
	position: relative;
}

ul#Grid li a {
	display: block;
	position: relative;
	color: #fff;
}
ul#Grid img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

ul#Grid img:hover{
    box-shadow: 0 0px 20px 4px rgba(0,0,0,.3);
    filter: none;
}

/*Header*/

header {
	background: #fdfdfd;
	width: 100%;
	border-bottom: 2px solid rgba(0, 0, 0, .2);
    box-shadow: 0 30px 50px 6px rgba(0,0,0,.3);
	z-index:999 !important;
}
.nav-tombol{
	padding: 0 !important;
	margin: 0;
	margin-right: -10px;
}
.nav-tombol span{
	cursor: pointer;
	float: right;
	font-weight: bold;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
	color: #1a1a1a;
	width: 100%;
	font-weight: bold;
	text-transform: lowercase;
}
.navbar-default .navbar-brand a {
	color: #1a1a1a;
	text-decoration: none;
	outline: none;
}
.navbar-default .navbar-brand span, .navbar-default .navbar-brand a span {
	color: #e74c3c;
}
.navbar-brand > a > img {
	max-height: 60px;
}
.navbar-brand{
	margin: 0;
	padding: 10px;
}
/*Header-page*/
.header-page{
	background: #E8EBE9;
}
.header-page .container{
	margin-bottom: 25px;
	height: 200px;
}
.page__title{
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 500;
	color: #666699;
	font-family: 'Roboto';
	margin-top: 100px;


}

/*Main Navigaion Menu*/
#menu-utama{
	padding: 0;
}
.navbar-brand{
	padding-left: 0;
	padding-right: 0;
}
.navbar-default {
	background: none;
	border: none;
	margin-bottom: 0px;
	position: relative;
	z-index: 999;
}
.navbar-default .navbar-nav {
	padding: 0px;
	margin-top: 30px;
}
.navbar-default .navbar-nav>li {
	padding: 0;
	margin-right: 25px;
}
.navbar-default .navbar-nav>li:last-child {
	margin-right: 0;
}
.dropdown-menu > li >a,
.navmenu-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a {
	font-size: 13px;
	font-family: 'Roboto';
	font-weight: 500;
}
.navmenu-default li.dropdown > .dropdown-toggle,
.navmenu-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a {

	padding: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.navbar-nav>li>a { 
	border-bottom: 4px solid transparent;
}

.offcanvas-sm .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li:hover>a, 
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>li.open>a{
	color: #6666cc;
	border-bottom: 4px solid #6666cc;

}
.navbar-default .navbar-nav>li>a.active {
	color: #6666cc;
}


ul.dropdown-menu {
	border-radius: 0px;
	padding: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	-ms-border-radius: 0px;
	border: none;
	background: #fdfdfd;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
}
ul.dropdown-menu li:last-child {
	border-bottom: none;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
}
ul.dropdown-menu li:first-child {
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
}
ul.dropdown-menu>li>a {
	color: #2a2a2a;
	border-top: none;
	font-size: 11px;
	padding: 15px 20px;
	text-transform: uppercase;
}


/*Carousel*/
.indicators-line > .carousel-indicators li {
	border: none;
	border-top: 2px solid; 
	height: 20px;
	border-radius: 0;
	width: 27px;
	background: none !important;
}
.indicators-line > .carousel-indicators li.active {
	box-shadow: none;border-top: 2px solid #ffae00;
}
.indicators-line > .carousel-indicators .active::before{
	content: none;
}
.slide-text h4{
	font-family: 'Roboto';
	font-size: 45px;
	font-weight: 100;
	letter-spacing: 2px;
	font-weight: 100;
	color: #fff;
	top: 10%;
	margin-bottom: 75px;
}
.indicators-line > .carousel-indicators {
    left: 0;
    top: -50px;
    right: 0;
    margin: auto;
    position: absolute;
    text-align: left;
    z-index: 10;
    bottom: -500px;
}
.slide-text{ 
	padding: 0;
	top: 15%;
}

@media (min-width: 768px) {
  .slide-text, .indicators-line > .carousel-indicators { width: 750px; }
}

@media (min-width: 992px) {
  .slide-text, .indicators-line > .carousel-indicators { width: 970px; }
}

@media (min-width: 1200px) {
  .slide-text, .indicators-line > .carousel-indicators { width: 1170px; }
}

/*Carousel OLD*/
.slider {
	position: relative;
}
.slider #c_slider .carousel-inner .item{
	z-index: -99;
}
.carousel-inner{
	background-color: #ccc;
	/*background: #fdfdfd;*/
	/*z-index: -100;*/
}
.absolute__img {
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -49px;
	z-index: -99;
}
.carousel-control {
	opacity: 1;
	position: absolute;
	top: 50%;
	-moz-opacity: 1;
}
.carousel-control:hover {
	font-size: 20px;
}
.carousel-inner .item img{
	height: 500px;
	margin: auto;
	box-shadow: 0px 0px 20px #000;
}



/*Page menu*/
.page-detail img {
	max-width: 100%;
	height: auto !important;
	display: block;
	margin: auto;
	padding: 0;

}
.page-detail{
	text-align: justify;
	padding-top: 18px;
	padding-bottom: 20px;
	color: #262626;
}
.page-menu .col-main{
	margin-bottom: 40px;
}
.page-menu .sharebtn{
	text-align: left;
}


/*testimoni*/
/*.owl-theme .owl-controls .owl-page span{
	background: white;
}*/


.list-testi > div{
	margin-bottom: 10px
}
.img-testimoni {
	border-radius: 50%;
	border: 2px solid #f90;
}

#testimoni .text-right{	
	margin-top: 40px;
	font-family: 'raleway';
	font-size: 18px;

}
#testimoni .text-left{	
	margin-top: 30px;
	padding-right: 20px;
	font-size: 17px;
	font-style: italic;
}

.list-testi .text-right b{
	font-size: 21px;
	text-transform: uppercase;
	font-family: 'roboto';
	font-weight: 500;
}

/*Page */
#page-clear{
	margin: 0;
	padding: 0;
}
#page-clear > div{
	padding: 0;
	padding-right: 40px;
}
#page-cleardetails{
	margin: 0;
	padding: 0;
}
#page-cleardetails > div.col-main{
	padding-right: 35px;
	padding-left: 0px;
}
#btn-load{
	margin: 20px 0 40px;
}

/*Galeri*/
.galeri {
	background-color: #f4f4f4;
}
.galeri .box{ padding: 15px }
.galeri .pad{
	float: none !important;
	display: inline-block;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  margin-bottom: 15px;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect span.fa{
	margin-top: 40%;
	font-size: 50px;
}

.hovereffect .clip, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover .clip, .hovereffect:hover p{
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


/*Page menu*/
.page-detail img {
	max-width: 100%;
	height: auto !important;
	display: block;
	margin: auto;
	padding: 0;

}
.page-detail{
	text-align: justify;
	padding: 18px 20px 20px 0;
	color: #262626;
}
.page-menu .col-main{
	margin-bottom: 40px;
}
.page-menu .sharebtn{
	text-align: left;
}



/*our-team*/
.pad{
  padding: 15px 20px 15px 0;
}

.img_container{
position:relative;
overflow: hidden;
margin: auto;
box-shadow: 1px 1px 3px grey; 
}


/*news info*/

.news-info .media-body > p{
	color: #3C4551 ;
	margin-top: 7px;
}

.media>.pull-left {
    margin-right: 25px;
}

.news-info{
	min-height: 180px;
	max-width: 840px;
}
.news-info >a >img{
	max-width: 110px;
	border-radius: 3px;
}
.news-info >a >img:hover{ box-shadow: 0 0 10px 2px #ccc }
.news-info .media-body h5{
	font-size: 12px;
	padding: 15px 0;
	font-weight: 600;
	color: #366;
}
.news-info .media-body h5 span{
	font-weight: normal;
}
.news-info .media-body p {
	color: #3C4551;
	font-size: 13px;
}

/*News-detail*/
.news-detail{
	text-align: justify;
	padding-top: 18px;
	padding-bottom: 220px;
	color: #262626;

}
.news-detail img {
	padding: 0 0 25px 0;
}
.news-detail .media-heading{
	text-transform: uppercase;
	font-size: 15px;
	color: #262626;
}
.news-detail hr {
	 border-color: #aaaaaa;
}
.news-detail i {
	font-size: 13px;
}
.news-detail p:first-letter {
    text-transform: uppercase;
}

/*medium*/
.medium-link{
	display: block;
	margin-top: 15px;
	width: 100%;
}

.medium-link-logo{
	/* Rectangle 2 Copy 3: */
	border: 1px solid #979797;
	height: 90px;
	width: 85px;
	display: inline-block;
	background: url('../images/medium.png') no-repeat;
}
.medium-link-content{
	border: 1px solid #979797;
	border-left: 0px;
	height: 90px;
	max-width: 600px;
	display: inline-block;
	background: #e4e4ec;
	padding: 5px;
	overflow: hidden;
	display: inline-block;
}

.medium-link-content p{
	font-size: 12px;
	line-height: 17px;
}

.medium-link-content a{
	color: #0099CC !important;
}

.medium-link-content a:hover{
	color: #FF0000 !important;
}

/*our-team*/
.our-team { 
	padding-bottom: 250px;
}
#our-team-ok { 
	  position: relative;
  height: 630px;
  width: 100%;
   background: url('http://localhost/abp/public/tim_file/team.jpg') no-repeat;
  background-size: cover;
 }
#our-team-ok:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #554e9b;
  opacity: 0.9;
  z-index:1
}
#bg-our-team {
  position: relative;
  z-index: 2
}
.foto-team {
	position: relative;
	filter: gray;
	filter: grayscale(100%); 

}
.foto-team:after {
	content: ''; 
	width: 100%; 
	height: 100%; 
	opacity: 0.2; 
	position: absolute; 
	top: 0; 
	left: 0; 
	z-index: 1;
}
.foto-team:hover {  
	filter: none;
}

.our-team h3, .our-team p { color: #fff }
.our-team .img_container img:hover {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
}
.our-team .img_container img {
  -webkit-transform:scale(1);
  transform:scale(1);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  
}
.team-info { height: 105px; padding: 10px 20px }
.team-info > p{	
	color: #333; 
	font-size: 11px;
	line-height: normal; 
}
.team-info strong{ 
	color: #666;
	font-size: 15px;
}
div.hover > div.team-info strong{ 
	color: #669;
	font-size: 15px;
}
.team-icon li { 
	display: inline;
	font-size: 20px;
}
.team-icon li a{ 
	color: #ccc;
	padding-right: 10px;
}
.team-box{ 
	background-color: #fff; 
	margin: auto;
}
.team-box:hover{
	box-shadow: 0 0 15px 0px #ccc;
}



/*nav-tabs*/
.nav-tabs { 
	border-bottom: none!important;
	margin: 105px 0 80px;
}
.nav-tabs > li > a { 
	color: #fff; 
	border-radius: 0;
	border: 1px solid #fff;
	margin: 0;
	padding: 8px 40px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,
.nav-tabs > li > a:hover{
	background: #ff9900;
	color: #fff;
	border: 1px solid #ff9900;
}
.nav-tabs > li > a:hover { border: 1px solid #fff }

/*partner*/
.partner  ul{
	padding: 0;
	text-align: center;
}
.partner ul li{
	list-style: none;
	display: inline-block;
	margin: 15px 27px;
}
/*kategori*/
	

.icon-kategori i{
	font-size:65px;
	text-shadow: -4px -4px 2px #000;
}
.icon-kategori{
	display: inline-flex;
	margin-bottom: 10px;
}

/*Container*/

.row {
	padding: 75px 0;
}

.container .row:first-child {
	padding: 75px 10% 75px 10%;
}


.to_top {
	margin-top: -80px !important;
}

img.full-width {
	width: 100%;
}

/* Recent Posts */
.recent-posts{
	background: #f4f4f4;
}
.recent-posts a.btn {
	margin: 10px 0 60px;
	text-transform: none;
}
.recent-posts>.container {
	position: relative;
}
.recent-posts p.small-paragraph {
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 40px;
	margin-top: -5px;
}
.recent-posts .col-md-9, .recent-posts .col-md-3 {
	margin-top: 40px;
}
.recent-posts .col-md-9 .text {
	float: left;
	width: 55%;
	margin-left: 2%;
}
.recent-posts .col-md-9 .text h3 {
	margin-top: -1px;
	margin-bottom: 15px;
	line-height: 24px;
}
.recent-posts .col-md-9 .text p {
	padding: 5px 0;
}
.recent-posts .col-md-9 .text p.small-paragraph {
	margin-bottom: 0px;
	font-size: 12px;
	color: #555555;
}
.recent-posts .col-md-9 article {
	margin-bottom: 50px;
}
.recent-posts .col-md-3 .icon-item {
	border-bottom: 1px solid #dfdfdf;
	padding-top: 15px;
}
.recent-posts .col-md-3 .icon-item:first-child {
	padding-top: 0;
}
.recent-posts .col-md-3 .icon-item p.small-paragraph {
	font-size: 12px;
	color: #ccd4d4;
	padding: 0 0 10px 0;
	margin: 0;
}
.recent-posts .col-md-3 .icon-item h4 {
	padding: 0px 0 15px;
}
.recent-posts .col-md-3 .btn {
	width: 100%;
	margin-top: 15px;
}

/* Main Content*/

.main-content h2 {
	line-height: 11px;
	margin-bottom: 40px;
}
/* Footer */
footer .page__title { color: white;text-align: center; }

.img-footer{
	margin-bottom: 20px
}

footer span.sep{ margin-bottom: 135px }
footer {
	background: #554e9b;
	color: white;
}
footer a:hover, footer a{	color: white; }

footer>.container>.row:first-child {
	padding: 30px 0;
}

.footer-icon>.container>div.col-md-9{ padding: 18px 15px 15px; font-size: 13px}
.footer-img { margin-top: 10px  }
footer .footer-icon{
	width: 100%;
	display: inline-block;
	background: #494288;
	margin-bottom: -10px;
}

/*SOCIAL ICON*/
.social_icons{
	padding: 15px ;
	text-align: left;
	letter-spacing: -5px;
}
.social_icons a{
	font-size:25px;
	margin: 5px 15px 5px 0px; 
	border-radius: 5px ;
	color:#322e57;
	width: 35px;
	text-align: left;
}

.kontak .center{
	font-size: 26px;
	text-align: center;
	padding: 10px 10px 10px 25px;

}
.kontak tr.phone{ background-color: #ffae00;  }
.kontak a { padding: 10px 25px 10px 10px; }
.kontak tr:hover{ text-shadow:1px 0px 0px #fff;}

div.team-info ul li a.fa-facebook:hover , .social_icons a.fa-facebook:hover{ 	color:#3B5998; }
div.team-info ul li a.fa-google-plus:hover, .social_icons a.fa-google-plus:hover{ 	color:#ea4335; }
div.team-info ul li a.fa-twitter:hover, .social_icons a.fa-twitter:hover{ 	color: #0084b4; }
div.team-info ul li a.fa-linkedin-square:hover, .social_icons a.fa-linkedin-square:hover{ 	color: #0077b5; }
div.team-info ul li a.fa-instagram:hover, .social_icons a.fa-instagram:hover{
        background-color: #f09433;
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
        -webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;

}

/*Responsive - debugging default problems*/
.img-responsive {	margin: 0 auto;  }
.no-margin {	margin: 0; }
.no_padding {	padding: 0px 0 80px 0; }
.row.nothing {	padding: 0 !important; margin: 0; }

@media (min-width: 1199px) {
	.container { padding: 0 }
	.galeri .box{
		float: none; display: inline-flex; width: 24.7%;
	}
}


@media(max-width: 1203px) {
	.team-box { width: 220px; }

	.carousel-inner .item img{
		object-fit: inherit;
		height: inherit;
		min-height: 100px;
	}

}
@media(max-width:992px) {
	.team-box { width: 220px; }

	.carousel-inner .item img{
		object-fit: inherit;
		height: inherit;
		min-height: 100px;
	}
	#rubah {
 		text-align: center;
 	}
}
@media(min-width:769px) {
	#rubah {
 		text-align: center;
 	}

	.offcanvas-sm{
		display: none;
	}
	.navmenu{
		visibility: none;
		opacity: 0;
	}
	
}
 @media(max-width:768px) {
 	#slideheading {
		font-size: 40px;
	}
	#rubah {
 		text-align: center;
 	}

	#portfolio ul.controls li{ padding: 5px; }
	.nav-tabs > li > a{ padding: 4px 20px; }
	.nav-tabs { margin: 10px 0; }
	.our-team { background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #663399 0%, #663399 430px, white 430px, white 100%) repeat scroll 0 0 }
 	footer span.sep { margin-bottom: 30px  }
	.kontak .center { padding-left: 10px }
	.navbar-brand a {
		margin-left: 18px;
	}
	.navmenu{
		visibility: visible;
		opacity: 1;
	}
	.navbar-nav{margin: 7.5px -15px;}
	.navbar-nav li { width: 100% }
	.navbar-nav li a { border-bottom: 4px solid transparent }
	.navbar-toggle{
		display: block !important;
	}
	.page__title { 	
		font-size: 22px !important;
		margin-top: 20px;
		font-family: 'Roboto';

	}
	.row-success{ 
		width: 100%;
	}
	/*.media-object{
		margin: auto;
	}	
*/

	h1.page_title {
		padding: 20px 30px;
	}

	.navbar-collapse {
		height: 0px;
		overflow: hidden;
		border-top: none;
	}
	.navbar-default .navbar-toggle {
		top: 15px;
		right: 0;
		position: absolute;
		float: right;
		color: grey;
		border:none;
	}
	.offcanvas-sm .navbar-nav >li >a.active{
		color: #fdfdfd;
		background-color: #6666cc;
		border-left: 4px solid #6666cc;
	}

	.pull-left {
		float: none !important;
	}
	.pull-right {
		float: none !important;
	}

	footer ul > li > strong{
		margin-top: 20px;
		display: block;
	}

}


 @media(max-width:500px) {
 	
 	.heightimg {
 		height: 41px;
 	}
 	.height {
 		height: 400px;
 	}
 	#rubah {
 		text-align: center;
 	}
 	#footer img {
 		display: none !important;
 	}
 	#slideheading {
	  	font-size: 15px;
	}
 	body { font-size: 14px }
 	span.sep { margin-bottom: 30px}
	.about-img{ margin-top: auto; }
	.about-us .title__block{ margin-top: 10px !important }
	p.smaller { margin-bottom: 20px }
	.fasilitas p.smaller { margin-bottom: 40px }
	.fasilitas .title { 
		margin: 20px 0 ;
		font-size: 18px;
	}
	.list-fasilitas{ margin-bottom: 40px }
	.row.title__block{ margin: 20px 0 !important; }
	.btn{ padding: 6px 12px; }
	#portfolio ul.controls li { font-size: 12px }
	.navbar-brand img { max-width: 210px }
	#testimoni .text-right { font-size:14px  }
	#testimoni .text-right b { font-size:18px  }
	#testimoni .text-left { font-size:14px  }

	.news-info {
		padding: 0 0 20px 0;
		min-height: auto;
	}
	.news-info > a  {
		width: 100%;
		margin-bottom: 20px;
	}
	.news-info .media-body  {
		width: 100%;
	}

	 .item img{
		min-height: 130px
	}


	footer ul {
		padding-bottom: 20px;
		border-bottom: 1px solid;
	}
}

.scroll{
	position: fixed;
	bottom: 5px;
	right: 5px;
	padding: 5px 10px;
	opacity: 0.5;
	display: none;
}
.scroll:hover{ opacity: 1 }

